.login-btn,
.addExp-btn {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #7637e2, #a855f7);
  transition: 0.3s;
  position: relative;
  z-index: 20;
}

.login-btn:hover,
.addExp-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.login-btn:disabled,
.addExp-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: #ffffff;
  background: linear-gradient(135deg, #7c3aed, #a855f7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.add-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(124, 58, 237, 0.4);
}

.cancle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #6b7280;
  background: #f3f4f6;
}

.PNF-btn {
  padding: 14px;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid black;
}

.PNF-btn:hover {
  color: white;
  background: linear-gradient(135deg, #7c3aed, #a855f7);
}
